
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

a {
    text-decoration: None;
}

.ludwigviz-layout {
    background-color: #f3f3f3;
}

#title {
    color: white;;
}
#version {
    margin: 20px;
    overflow: hidden;
    max-height: 20px;
    color: white;
}

.ludwigviz-top, .ludwigviz-middle, .ludwigviz-bottom {
    margin: 10px auto;
    min-width: 768px;
}

.ludwigviz-middle {
    padding-bottom: 10px;
}

.ludwigviz-top-text-float {
    width: 300px;
    display: inline-grid;
}

.ludwigviz-top-btn-float {
    display: inline-grid;
    margin-right: 140px;
}

.altair-chart {
    display:block;
    margin-top: 20px;
    padding: 20px
}

table {
    border: 0 !important;
    margin: auto;
}

.corpus-button {
	background: rgb(255,171,64);
	border: none;
	border-radius: 2px;
	color: #000;
	position: relative;
	height: 36px;
	margin: 0;
	min-width: 64px;
	padding: 0 16px;
	/* display: inline-block; */
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0;
	overflow: hidden;
	will-change: box-shadow;
	transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
	outline: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	vertical-align: middle;
}


div.contains-table {
    overflow-x: auto;
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
}

.blocked-radio {
    display: block;
}

.inline-radio {
    display: inline-block;
    padding: 0px 5px;
}