{% extends "layout.html" %}

{% block ludwigviz_top %}
    <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">{{ title }}</h3>

    </div>
    <div class="mdl-card__supporting-text">
        All unique corpora are listed below. Each may may be associated with more than 1 text file.
    </div>
    <div class="mdl-card__actions mdl-card--border">
    </div>

    {% if rows %}
        <div class="contains-table">
            <table class="mdl-data-table">
                <thead>
                <tr>
                    {% for header in headers %}
                        <th class="mdl-data-table__cell--non-numeric">{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                    <tr>
                        {% for k in headers %}
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ row[k] }}
                            </td>
                        {% endfor %}
                        {% for button in row.buttons %}
                            <td class="mdl-data-table__cell--non-numeric">
                                <a href="{{ url_for(button, corpus_name=row.corpus_name) }}"
                                   class="corpus-button">{{ button }}</a>
                            </td>
                        {% endfor %}
                    </tr>
                    <span class="mdl-tooltip" for="tooltip_id{{ loop.index0 }}">
                        {{ row.tooltip | safe }}
                    </span>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">No jobs found</h3>
        </div>
    {% endif %}


{% endblock %}

{% block ludwigviz_middle %}
    <form action="{{ url_for('home', project_name=project_name) }}" id="form-reorder"></form>

    <div class="mdl-card__supporting-text">
        <p>Order by:</p>
        {% for header in headers %}
            <label for="header_id{{ loop.index0 }}" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                <input type="radio"
                       name="header"
                       id="header_id{{ loop.index0 }}"
                       class="mdl-radio__button"
                       value="{{ header }}" form="form-reorder">
                <span class="mdl-radio__label">{{ header }}</span>
            </label>
        {% endfor %}
    </div>
    <div class="mdl-card__supporting-text">
    <p>Direction:</p>
        {% for order in ['ascending', 'descending'] %}
            <label for="order_id{{ loop.index0 }}" class="mdl-radio mdl-js-radio mdl-js-ripple-effect inline-radio">
                <input type="radio"
                       name="order"
                       id="order_id{{ loop.index0 }}"
                       class="mdl-radio__button"
                       value="{{ order }}" form="form-reorder">
                <span class="mdl-radio__label">{{ order }}</span>
            </label>
        {% endfor %}

    </div>

    <div class="mdl-card__actions mdl-card--border">
        <input type="submit" name="reorder" class="mdl-button trigger-loading" value="Re-order" form="form-reorder">
    </div>

{% endblock %}

{% block ludwigviz_bottom %}
{% endblock %}