{% extends "layout.html" %}

{% block ludwigviz_top %}
    <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">{{ project_name }}</h3>

    </div>
    <div class="mdl-card__supporting-text">
        All unique runs are listed below. Each may may contain more than 1 job.
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="{{ url_for('project', project_name=project_name) }}"
           class="mdl-button">Re-load</a>
    </div>

    {% if rows %}
        <div class="contains-table">
            <table class="mdl-data-table mdl-js-data-table">
                <thead>
                <tr>
                    {% for header in headers %}
                        <th class="mdl-data-table__cell--non-numeric">{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                    <tr class="clickable" data-href='{{ url_for('corpus_stats', project_name=project_name, param_name=row.param_name) }}'>
                        <td class="mdl-data-table__cell--non-numeric">
                            <label for="row_id{{ loop.index0 }}" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select">
{#                                <input type="checkbox"#}
{#                                       name="param_name"#}
{#                                       id="row_id{{ loop.index0 }}"#}
{#                                       class="mdl-checkbox__input"#}
{#                                       value="{{ row.param_name }}"#}
{#                                       form="form-group_action">#}
{#                                <span class="mdl-checkbox__label" id="tooltip_id{{ loop.index0 }}">{{ row.Param }}</span>#}
                            </label>
                        </td>
                        {% for k in headers %}
                            {%  if k != 'Param' %}
                                <td class="mdl-data-table__cell--non-numeric">{{ row[k] }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>

                    <span class="mdl-tooltip" for="tooltip_id{{ loop.index0 }}">
                        {{ row.tooltip | safe }}
                    </span>

                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">No jobs found</h3>
        </div>
    {% endif %}

    <script type='text/javascript'>
        $(document).ready(function() {
            $("td input").click(function (e) {
                e.stopPropagation();
            });
            $(".clickable").click(function (e) {
                if (e.target.tagName !== 'SPAN') {
                    window.location = $(this).data("href");
                }
            });
        });
    </script>
{% endblock %}

{% block ludwigviz_middle %}
    <form action="{{ url_for('project', project_name=project_name) }}" id="form-group"></form>

    <div class="mdl-card__supporting-text">
        {% for header in headers %}
            <label for="header_id{{ loop.index0 }}" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                <input type="checkbox"
                       name="header"
                       id="header_id{{ loop.index0 }}"
                       class="mdl-checkbox__input"
                       value="{{ header }}" form="form-group">
                <span class="mdl-checkbox__label">{{ header }}</span>
            </label>
        {% endfor %}

        {% for order in ['ascending', 'descending'] %}
            <label for="order_id{{ loop.index0 }}" class="mdl-radio mdl-js-radio mdl-js-ripple-effect inline-radio">
                <input type="radio"
                       name="order"
                       id="order_id{{ loop.index0 }}"
                       class="mdl-radio__button"
                       value="{{ order }}" form="form-group">
                <span class="mdl-radio__label">{{ order }}</span>
            </label>
        {% endfor %}

    </div>

    <div class="mdl-card__actions mdl-card--border">
        <input type="submit" name="reorder" class="mdl-button" value="Re-order" form="form-group">
    </div>

    <script type='text/javascript'>
        $(document).ready(function() {
            $('.needs-2').css('color', 'lightgrey');
            $('.needs-any').css('color', 'lightgrey');
            $('input[type="checkbox"]').click(function(e){
                var num_checkboxes_clicked = $("input[name='" + $(this).attr('name') + "']:checked").length;
                $.ajax({
                    url: '{{ url_for("which_hidden_btns") }}',
                    data: {num_checkboxes_clicked: num_checkboxes_clicked},
                    success: function(result){
                        if (result === 'both') {
                            $('.needs-2').css('color', '');
                            $('.needs-any').css('color', '');
                        }
                        else if (result === 'any') {
                            $('.needs-2').css('color', 'lightgrey');
                            $('.needs-any').css('color', '');
                        }
                        else if (result === 'none') {
                            $('.needs-2').css('color', 'lightgrey');
                            $('.needs-any').css('color', 'lightgrey');
                        }
                    }
                });


            });
        });
    </script>

{% endblock %}
{% block ludwigviz_bottom %}

{% endblock %}