{% extends "layout.html" %}

{% block ludwigviz_top %}

    <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">{{ corpus_name }}</h3>
        <div class="mdl-layout-spacer"></div>
        {{ session[corpus_name] }}
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <form id="form-reset" href="{{ url_for('query', corpus_name=corpus_name) }}"></form>
        <input type="submit" name="reset" class="mdl-button" value="Reset" form="form-reset">
        <a href="{{ url_for('home') }}" class="mdl-button">Back</a>
    </div>

{% endblock %}

{% block ludwigviz_middle %}

    <form action="{{ url_for('validate', corpus_name=corpus_name) }}">
        <div class="mdl-card__supporting-text" id="fields-div">

            {%  for word, msg in fields %}
                <div class="hidden-field" style="display: none">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input"
                               id="field_id{{ loop.index0 }}"
                               name="word"
                               type="text"
                               value="{{ word }}">
                        <label class="mdl-textfield__label" for="field_id{{ loop.index0 }}">
                            Word {{ loop.index }}
                        </label>
                        <span class="mdl-textfield__error" style="visibility: visible">{{ msg }}</span>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                </div>
            {% endfor %}
        </div>

        <div class="mdl-card__supporting-text">
            <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                  id ="field-adder">
                <i class="material-icons">add</i>
            </span>
        </div>

        <div class="mdl-card__actions mdl-card--border">
            <input type="submit" name="get_neighbors" class="mdl-button trigger-loading" value="get neighbors">
        </div>
    </form>



    <script type='text/javascript'>
        $(document).ready(function() {
            $.ajax({url: '{{ url_for("autocomplete", corpus_name=corpus_name) }}'}).done(
                function (data) {
                    $('.mdl-textfield__input').autocomplete({
                        source: data.json_list,
                        minLength: 1
                    });
                });

            {#show first text field#}
            $('.hidden-field:hidden').first().show();

            $('#field-adder').click(function () {
                $('.hidden-field:hidden').first().show()
            })

        });
    </script>
{% endblock %}

{% block ludwigviz_bottom %}
{% endblock %}