{% extends "layout.html" %}

{% block ludwigviz_top %}

    <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">{{ corpus_name }}</h3>
        <div class="mdl-layout-spacer"></div>
        {{ session[corpus_name] }}

    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="{{ url_for('neighbors', corpus_name=corpus_name) }}"
           class="mdl-button">Re-load</a>
        <a href="{{ url_for('home') }}"
           class="mdl-button">Back</a>
    </div>

{% endblock %}

{% block ludwigviz_middle %}
    <form action="{{ url_for('load_vocab', corpus_name=corpus_name) }}" id="form-load-vocab"></form>

    <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Load existing vocabulary:</h3>
    </div>
    <div class="mdl-card__supporting-text">
        {%  for vocab_name in cached_vocab_names %}
            <label for="vocab_name_id{{ loop.index0 }}" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                <input type="checkbox"
                       name="vocab_name"
                       id="vocab_name_id{{ loop.index0 }}"
                       class="mdl-radio__button"
                       value="{{ vocab_name }}" form="form-load-vocab">
                <span class="mdl-radio__label">{{ vocab_name }}</span>
            </label>
        {%  endfor %}
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <input type="submit" name="load_vocab" class="mdl-button trigger-loading" value="load vocab" form="form-load-vocab">
    </div>
{% endblock %}

{% block ludwigviz_bottom %}
    <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Build new Vocabulary:</h3>
    </div>

    <form action="{{ url_for('cache_vocab', corpus_name=corpus_name) }}" id="form-cache-vocab"></form>

    <div class="mdl-card__supporting-text">
        <h5>Vocabulary Size</h5>
        {% for vocab_size in vocab_sizes %}
            <label for="size_id{{ loop.index0 }}" class="mdl-radio mdl-js-radio mdl-js-ripple-effect inline-radio">
                <input type="radio"
                       name="vocab_size"
                       id="size_id{{ loop.index0 }}"
                       class="mdl-radio__button"
                       value="{{ vocab_size }}" form="form-cache-vocab">
                <span class="mdl-radio__label">{{ vocab_size }}</span>
            </label>
        {% endfor %}
        <div class="mdl-layout-spacer"></div>
        <h5>Number of articles & Part-of-Speech</h5>
        {% for w2dfs_name in w2dfs_names %}
            <label for="w2dfs_name_id{{ loop.index0 }}" class="mdl-radio mdl-js-radio mdl-js-ripple-effect inline-radio">
                <input type="radio"
                       name="w2dfs_name"
                       id="w2dfs_name_id{{ loop.index0 }}"
                       class="mdl-radio__button"
                       value="{{ w2dfs_name }}" form="form-cache-vocab">
                <span class="mdl-radio__label">{{ w2dfs_name }}</span>
            </label>
        {% endfor %}
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <input type="submit" name="cache_vocab" class="mdl-button trigger-loading" value="build vocab" form="form-cache-vocab">
    </div>
{% endblock %}

